In [15]:
import pandas as pd
from sqlalchemy import create_engine
import re

engine = create_engine("postgresql://postgres:postgres@localhost:5432/databasename")
connection = engine.connect()

In [16]:
df = pd.read_sql_query("SELECT * FROM rfq_consultant_skill", con = engine)


counts = df["requested"].value_counts()
print(counts["Ja"])
print(counts[""])

print(counts.head(25))

df = df.loc[df["requested"] != "Ja"]

print(df.shape)

{'requested'}

194537
1710
requested
Ja                                                              194537
Senior ( 5,00 jaar )                                             12957
Medior ( 3,00 jaar )                                             11731
Medior ( 5,00 jaar )                                              8263
Senior ( 8,00 jaar )                                              6247
Junior ( 1,00 jaar )                                              4565
Medior ( 2,00 jaar )                                              4417
Senior ( 10,00 jaar )                                             3892
senior ( 5,00 jaar )                                              3752
Junior ( 2,00 jaar )                                              2711
medior ( 3,00 jaar )                                              2480
Junior ( 3,00 jaar )                                              2479
Medior ( 4,00 jaar )                                              2462
Senior                                                            2242
Senior ( 3,00 jaar )                                              2149
3,00 Minimum aantal jaren <br> 5,00 Ideaal aantal jaren <br>      1885
senior ( 10,00 jaar )                                             1747
                                                                  1710
Senior ( 6,00 jaar )                                              1581
Nee                                                               1532
Medior                                                            1316
medior ( 5,00 jaar )                                              1131
senior                                                            1119
Senior ( 7,00 jaar )                                              1098
Senior ( 4,00 jaar )                                              1093
Name: count, dtype: int64
(105162, 7)

{'requested'}

In [17]:


def num(entry):
    # find the first number and its last index
    s = re.search("[\d,]+", entry)
    return float(entry[s.span()[0]:s.span()[1]].replace(",", ".")), s.span()[1]


class Required():

    type = None
    min_exp = None
    ideal_exp = None
    label = None

    def __init__(self, entry): 

        if re.match("Ja", entry, re.IGNORECASE):
            self.type = 1

        elif re.match("...ior \( [\d,]+.*", entry, re.IGNORECASE):
            self.type = 2
            self.label = entry[:6]
            self.min_exp = num(entry)
            self.ideal_exp = num(entry)
        
        else:
            self.type = 0



patterns = [
    r"Ja",
    r"Nee",
    #r"...ior \( [\s\d,]+.*",
    #r"Expert \( [\s\d,]+.*",
    r"...ior \( [\s\d,]+ jaar \)",
    r".*href=.*",
    r"...ior$",
    r"[\s\d,]+ Minimum aantal jaren <br> [\s\d,]+ Ideaal aantal jaren <br>",
    r"Confirmed$",
    r"Advanced$",
    r"Expert$",
    r"Werkervaring \( [\s\d,]+ jaar \)",
    r"Zeer goed$",
    r"Goed$",
    r"Good$",
    r"Basis$",
    r"Werkervaring",
    r"Trainee",
    r"Professional \(4-5\)",                                   
    r"Noties \( [\s\d,]+ jaar \)",
    r"Schoolverlater \( [\s\d,]+ jaar \)",
    r"Geen \( [\s\d,]+ jaar \)",
]





def verwerk(entry):
    if entry == "":
        return -2
    for i, pattern in enumerate(patterns):
        if re.match(pattern, entry, re.IGNORECASE):
            return i
    return -1

print(df.shape)

df = pd.read_sql_query("SELECT * FROM rfq_consultant_skill", con = engine)
column = "requested"
name = "req_obj"

df = df.assign(**{name: df[column].apply(verwerk)}) 
#print(df[name].value_counts().head(25))


df = df.loc[df[name] == -1]

#print(df.shape)
print(df[column].value_counts().head(25))

(105162, 7)
requested
Expert ( 8,00 jaar )                                                   886
Expert ( 10,00 jaar )                                                  520
Expert ( 15,00 jaar )                                                  336
Senior 3,00 Minimum aantal jaren <br> 5,00 Ideaal aantal jaren <br>    308
Senior (meer dan 5 jaar) ( 5,00 jaar )                                 271
Medior (3 tot 5 jaar) ( 3,00 jaar )                                    264
Expert ( 5,00 jaar )                                                   131
Junior 0,50 Minimum aantal jaren <br> 1,00 Ideaal aantal jaren <br>    130
senior 3,00 Minimum aantal jaren <br> 5,00 Ideaal aantal jaren <br>    104
Medior 1,00 Minimum aantal jaren <br> 3,00 Ideaal aantal jaren <br>     97
Junior (1 tot 2 jaar) ( 2,00 jaar )                                     88
Junior ( 0,00 )                                                         66
Junior (under 2 years)                                                  63
Medior (3 tot 5 jaar)                                                   59
medior 1,00 Minimum aantal jaren <br> 3,00 Ideaal aantal jaren <br>     55
Junior (1 tot 2 jaar) ( 1,00 jaar )                                     47
Medior Ja                                                               43
Senior (meer dan 5 jaar)                                                35
Medior 2,00 Minimum aantal jaren <br> 5,00 Ideaal aantal jaren <br>     30
Medior (3 tot 5 jaar) ( 5,00 jaar )                                     30
Advanced (5-7 years included)                                           29
Confirmed (2-4 years included)                                          28
Expert ( 6,00 jaar )                                                    28
Senior Ja                                                               27
Senior (meer dan 5 jaar) ( 10,00 jaar )                                 26
Name: count, dtype: int64

In [18]:
entry = "medior ( 500 jaar ) "




pattern = "...ior \( \d*,\d*.*"

#entry = "medior (5)"
#pattern = "...ior (\d).*"


f = re.match(pattern, entry)


def num(entry):
    s = re.search("[\d,]+", entry)

    print(entry[s.span()[0]:s.span()[1]].replace(",", "."))
    return float(entry[s.span()[0]:s.span()[1]].replace(",", "."))


val, i = num(entry)

500

TypeError: cannot unpack non-iterable float object

In [ ]:

print(re.match("^$", ""))

<re.Match object; span=(0, 0), match=''>

In [ ]:
basis = [
    r"^$", 
    r"Ja$",
    r"Nee$",
    r".*href=.*",
]

labels = [
    r"Senior",
    r"Medior",
    r"Junior",
    r"Expert",
    r"Advanced",
    r"Confirmed",
    r"Geen",
    r"Noties",
    r"Schoolverlater",
    r"Werkervaring",
    r"Goed",
    r"Zeer goed",
    r"Good",
    r"Trainee",
    r"Basis",
    r"Professional"
]

jaar = [
    r".*[\s\d,]+ Minimum aantal jaren <br> [\s\d,]+ Ideaal aantal jaren <br>.*",
    r".*\( [\s\d,]+ jaar \).*",
    r".*jaren.*",
    r".*\(under [\s\d,]+ years\)\s*",
    r".*\(over [\s\d,]+ years\)\s*",
    r".*\([\s\d,]+-[\s\d,]+ years included\)\s*",
    r".*(meer dan [\s\d,]+ jaar).*",
    r".*([\s\d,]+ tot [\s\d,]+ jaar).*",
    r".*jaar.*",

]

def verwerk(entry):

    total_str = ""
    
    for i, pattern in enumerate(basis):
        if re.match(pattern, entry, re.IGNORECASE):
            total_str += str(i)
            continue
    
    total_str += "_"

    for i, pattern in enumerate(labels):
        if re.match(pattern, entry, re.IGNORECASE):
            total_str += str(i)
            continue
    
    total_str += "_"

    for i, pattern in enumerate(jaar):
        if re.match(pattern, entry, re.IGNORECASE):
            total_str += str(i)
            break

    #print(entry, total_str)
    
    #if total_str == "__":
    #    print(entry)

    if total_str[-1] == '2':
        print(entry)
    
    return total_str





df = pd.read_sql_query("SELECT * FROM rfq_consultant_skill", con = engine)
print(df.shape)

column = "requested"
name = "req_obj"

#df = df.assign(**{name: df[column].head(1000).apply(verwerk)}) 
df = df.assign(**{name: df[column].apply(verwerk)}) 
print(df[name].value_counts())


df = df.loc[df[name] == "_1_"]

#print(df.shape)
print(df[column].value_counts().head(25))


# kan ook bv startdatum zijn, ondertekenen vh contract, etc.

(299699, 7)
req_obj
1__      194537
_0_1      38809
_1_1      33801
_2_1      12178
__0        6657
_0_        3413
_3_1       2010
_1_        1861
0__        1710
2__        1532
_2_        1011
_0_0        414
3__         390
_1_0        195
_5_         185
_2_0        172
_9_1        126
_3_          84
_2_3         63
_1_7         62
_4_          60
_5_1         54
_11_         49
_4_1         46
_0_6         38
_4_5         29
_5_5         28
__           21
_10_         20
_3_4         18
_13_         15
_6_1         13
_2_7         13
_14_         12
_15_         12
_8_1         12
_9_          11
__1           9
_11_1         9
_7_1          7
_12_          5
_10_1         3
_6_           2
__2           1
_8_           1
_7_           1
Name: count, dtype: int64
requested
Medior             1316
medior              484
Medior Ja            43
medior Ja            12
medior ( 0,00 )       5
Medior ( 0,00 )       1
Name: count, dtype: int64