In [15]:
from sqlalchemy import create_engine
import pandas as pd

In [16]:

 
engine = create_engine("postgresql://postgres:postgres@localhost:5432/databasename")
connection = engine.connect()


df = pd.read_sql_query("SELECT * FROM rfq_consultant_skill", con = engine)

print(df)

            id                                         skill  \
0            1      Aantoonbare ervaring met GeoTools en JTS
1            2                 Aantoonbare ervaring met Java
2            3           Aantoonbare ervaring met Javascript
3            4         Aantoonbare ervaring met Spring(Boot)
4            5  Aantoonbare ervaring als technisch architect
...        ...                                           ...
299694  299902                      adaptive case management
299695  299903                           Functionele analyse
299696  299904                                         T-Map
299697  299905                               Projectervaring
299698  299906                                          Java

                         requested       weight  \
0                               Ja    Must have
1             Expert ( 8,00 jaar )    Must have
2             Expert ( 8,00 jaar )    Must have
3             Senior ( 5,00 jaar )    Must have
4             Senior ( 5,00 jaar )  Should have
...                            ...          ...
299694                          Ja         None
299695        Senior ( 8,00 jaar )         None
299696  Werkervaring ( 5,00 jaar )         None
299697       Expert ( 10,00 jaar )         None
299698        Expert ( 3,00 jaar )         None

                              answer_type skill_type  profile_id
0                               Ja / Neen   SPECIFIC           1
1       Ervaringsniveaus en jaar ervaring   SPECIFIC           1
2       Ervaringsniveaus en jaar ervaring   SPECIFIC           1
3       Ervaringsniveaus en jaar ervaring   SPECIFIC           1
4       Ervaringsniveaus en jaar ervaring   SPECIFIC           1
...                                   ...        ...         ...
299694                          Ja / Neen   SPECIFIC       22727
299695  Ervaringsniveaus en jaar ervaring   SPECIFIC       22727
299696  Ervaringsniveaus en jaar ervaring   SPECIFIC       22740
299697  Ervaringsniveaus en jaar ervaring   SPECIFIC       22759
299698  Ervaringsniveaus en jaar ervaring   SPECIFIC       22761

[299699 rows x 7 columns]

In [ ]:
import re

column = "skill"

df[column] = df[column].fillna("None") # replace None with string "None" (so that np.unique works, which relies on comparison operator (not possible for Nonevalue)) 

pattern = r"java(?!s)" # if we want java but not javascript

def f(entry):
    return bool(re.search(pattern, entry, re.IGNORECASE))
    
newdf = df.loc[df[column].apply(f)]


tablename = "newtest"
newdf.to_sql(tablename, con = engine) # creates a new table based on the data frame

795